.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav{
  background-color: #282c34;
  color: white;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  width: 50%;
  margin-bottom: 50px;
  margin-left: 40%;
  padding: 10px;

}
.nav a{
  color: inherit;
  text-decoration: none;
}
.Carddiv img{
width: 100px;
height: 100px;
}
.Carddiv div{
  display: flex;
  justify-content: space-around;
}
.griddiv{
  
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.Carddiv{
  gap: 20px;
border: 1px solid blueviolet;
margin: 10px;
}

